*{
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    background-color: whitesmoke;
}

nav ul {
    margin: 1rem;
}

nav li {
    display: inline;
    margin: 5px;
}

nav li a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

button {
    border: thin solid black;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: .8rem
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 8rem 2.5rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../assets/banner/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1;
}

#banner_green {
    color: #4caf50;
}

#banner h1 {
    max-width: 400px;
}

#banner_white,
#banner small {
    color: white;
}

#banner small {
    max-width: 500px;
    opacity: .8;
}

#banner_button_0 {
    color: #4caf50;
    background-color: white;
    text-align: center;
    display: inline-flex;
}

#banner_button_0::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #4caf50;
    border-radius: 50%;
    display: inline-block;
}

#banner_button_2 {
    background-color: transparent;
    border: thin solid whitesmoke;
}

#banner_button_2::before {
    content: "▶";
    opacity: .1;
    color: white;
}

#notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding: 2.5rem 5rem;
    gap: 2rem;
}

#notes>div small {
    text-align: center;
    padding: 0 0 0 10px;
    font-size: .8rem;
    opacity: .3;
}

#deck {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
    gap: 1rem;
    border: thin solid whitesmoke;
    margin: 1rem auto;
    padding: 3rem 1.5rem;
    border-radius: 15px;
    box-shadow: 5px 5px 3px black;
    transition: .5s ease-in-out;
}

.card img {
    background-color: salmon;
    border-radius: 40px;
    padding: 1rem;
}

.card:hover {
    transform: scale(1.1);
}

#second-brain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 5rem 2rem;
    flex-wrap: wrap;
}
#second-brain img{
    width: 100%;
    max-width: 500px;
}
#second-brain>#brain-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .05rem;
    flex-wrap: wrap;
    max-width: 500px;
}

#brain-side p:first-child {
    color: #4caf50;
    font-weight: bold;
}

#notes>div,
#early_access>div {
    text-align: center;
}

#brain-side h1,
#banner h1,
#notes>div h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

#brain-side small {
    opacity: .5;
}

.feature-list {
    list-style: none;
    padding: 0;
}

.feature-list li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.feature-list li::before {
    content: url("../assets/second_brain/CheckCircle.png");
    margin-right: .5rem;
}

#early_access {
    background-color: blanchedalmond;
    margin: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 15px;
    opacity: .8;
}

#access_list li {
    list-style: none;
    display: inline;
    font-size: 120%;
}

.h_f>button,
#banner_button_1,
#access_button {
    background-color: #4caf50;
}

#banner_button_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-banner {
    display: flex;
    gap: 1rem;
}

#access_list_1::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    gap: .5rem;
    ;
    margin-right: .25rem;
}

#foot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(1, 1, 29);
    color: white;
    padding: 2rem 1rem;
}

#upper_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
}

#lower_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

hr {
    width: 100%;
    background-color: gray;
}

#social-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem;
    gap: 1rem;
    padding-right: 1rem;
}

#icons {
    display: flex;
    gap: .5rem;
}

#icons a {
    height: 20px;
    width: 20px;
    background-color: transparent;
    color: white;
}

.hide{
    display: none !important;
}

@media screen and (max-width:576px) {
    nav{
        flex-direction: column;   
    }

    #notes{
        margin: 0 auto;
    }
    #deck{
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }

    .card{
        height: auto;
        width: 100%;
    }

    .card p{
        max-width: 100%;
        text-align: center;
    }
}